<h1>Listado convenios</h1>
<%= link_to 'Nuevo Convenio', new_convenio_path %>
Hola esta es...
<table>
  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Fecha inicio</th>
    <th>Fecha fin</th>
    <th>Monto</th>
    <th>Moneda</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @convenios.each do |convenio| %>
  <tr>
    <td><%= convenio.nombre %></td>
    <td><%= convenio.descripcion %></td>
    <td><%= convenio.fecha_inicio %></td>
    <td><%= convenio.fecha_fin %></td>
    <td><%= convenio.monto %></td>
    <td><%= convenio.moneda %></td>
    <td><%= link_to 'Ver', convenio %></td>
    <td><%= link_to 'Editar', edit_convenio_path(convenio) %></td>
    <td><%= link_to 'Borrar', convenio, :confirm => 'Esta segurooooooooo?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


