<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @convenio.nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @convenio.descripcion %>
</p>

<p>
  <b>Fecha inicio:</b>
  <%= @convenio.fecha_inicio %>
</p>

<p>
  <b>Fecha fin:</b>
  <%= @convenio.fecha_fin %>
</p>

<p>
  <b>Monto:</b>
  <%= @convenio.monto %>
</p>

<p>
  <b>Moneda:</b>
  <%= @convenio.moneda %>
</p>


<%= link_to 'Edit', edit_convenio_path(@convenio) %> |
<%= link_to 'Back', convenios_path %>
