<h1>Listado usuarios</h1>
<%= link_to 'Nuevo Usuario', new_usuario_path %>
<table>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @usuarios.each do |usuario| %>
  <tr>
    <td><%= usuario.nombre %></td>
    <td><%= usuario.apellido %></td>
    <td><%= link_to 'Ver', usuario %></td>
    <td><%= link_to 'Editar', edit_usuario_path(usuario) %></td>
    <td><%= link_to 'Borrar', usuario, :confirm => 'Esta segurooooooooo?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


